h2% Image Review
= will_paginate @images

-@images.each do |image|
  = div_for(image) do
    = image_tag image.thumb_url
    = link_to image.name, image
    = link_to('Destroy', image, method: :delete,
     data:{ confirm: 'Are you sure?'})