%html
  %head
    %title= content_for?(:title) ? content_for(:title) : 'Collections'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
  .container
    - flash.each do |message_type, message|
      %div{:class => "alert alert-#{message_type}"}= message
    - if logged_in?
      = link_to "Log out", logout_path
      = link_to "Edit", edit_user_path(current_user)
    - else
      = link_to "Sign up now!", signup_path
      = link_to "Login", login_path
    = yield
